div{
    display: flex;
    justify-content: space-around;
    width: 1600px;
    flex-wrap: wrap;
    flex-direction: row;
}

section{
    
     margin: 10px ;
    background-color:#F3A391; 
    border:1px solid #B26A5A ;
    width: 350px;
    height: 600px;
    text-align: center;
}
footer{
    position: absolute;
    margin-left: 50%;
}
button{
 
background-color: aqua; 
}