section{
    float: left;
     margin: 10px ;
    background-color:#F3A391; 
    border:1px solid #B26A5A ;
    width: 300px;
    height: 600px;
}
footer{
    position: absolute;
    margin-top: 2500px;
    margin-left: 50%;
}